@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<AppVeyorDemo.Models.IndexViewModel>
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AppVeyor - Leeds#</title>

        <style type="text/css">
            body {
                text-align: center;
                font-family: 'Segoe UI Light', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
            }
        </style>

    </head>
    <body>
        <img src="https://pbs.twimg.com/profile_images/2269442372/5s66pnbt5v8tw6most5e.png" alt="AppVeyor logo" />
        <h1>Hello @Model.HelloName</h1>
        <h3>Rendered from @Model.ServerName</h3>
    </body>
</html>
